* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  background-color: white;
  font-size: 16px;
}

body {
  min-width: 320px;
  max-width: 568px;
  background-color: rgba(235, 239, 240, 255);
  margin: 0 auto;
  color: rgb(120, 119, 119);
  position: relative;
}

main {
  padding: 0rem 0.7rem;
}

main input[type="radio"] {
  accent-color: grey;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  a {
    font-size: 14px;
  }
}